<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repudiandae
    maxime tempora modi culpa provident necessitatibus distinctio, esse libero
    aliquid magnam cumque earum, totam soluta amet ex reiciendis voluptate!
    Veniam.
  </p>
</section>