<div
  class="bg-zinc-900 flex justify-evenly py-10 flex-col text-center gap-4 md:flex-row md:text-left"
>
  <div class="footer-col">
    <h4 class="font-bold">Site Map</h4>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/pricing">Pricing</a>
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Site Map</h4>
    485 Essex Court<br />
    South Burlington<br />
    Mobile No: 802-505-1847
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Site Map</h4>
    <a href="/">Facebook</a>
    <a href="/">Twitter</a>
    <a href="/">Instagram</a>
    <a href="/">Reddit</a>
  </div>
</div>
