<header class="bg-zinc-900 flex flex-col md:flex-row justify-between gap-3 p-20 rounded-xl mt-2 text-center md:text-left">
  <div>
    <h1 class="text-5xl font-bold">Protect Your Passwords</h1>
    <p class="my-4 text-2xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, ut?
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Start Now</button>
  </div>
  <img src="images/fingerprint.svg" class="w-80" />
</header>
