<div class="flex flex-col py-20 md:flex-row md:p-20">
  <div class="flex-1 grid grid-cols-2 gap-4 pb-20 md:pb-0">
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p class="mt-4">Water Management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p class="mt-4">Water Management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p class="mt-4">Water Management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p class="mt-4">Water Management</p>
    </div>
  </div>
  <div class="flex-1 flex flex-col gap-y-10 text-center">
    <h2 class="font-bold text-5xl">Why should you buy ?</h2>
    <p class="text-3xl text-zinc-300">
      Awesome adventure and benefits if you buy this land from us and we promise
      you will not be disappointed
    </p>
  </div>
</div>

<style>
  .section-wrapper div {
    flex: 1;
  }

  .features {
    display: grid;
    grid-template: "1fr 1fr";
    padding: 2rem;
  }
</style>
